<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="alien" class="com.punith.Alien" scope="prototype">-->

<!--    </bean>-->
    <bean id="alien" class="com.punith.Alien" autowire="byType">
        <property name="age" value="21"></property>
<!--        <property name="com" ref="lap"></property>-->
<!--        <constructor-arg type="com.punith.Laptop" ref="lap"></constructor-arg>-->
<!--        <constructor-arg type="int" value="20"></constructor-arg>-->
<!--        <constructor-arg index="0" value="32"></constructor-arg>-->
<!--        <constructor-arg index="1" ref="lap"></constructor-arg>-->
<!--        <constructor-arg name="lap" ref="lap"></constructor-arg>-->
<!--        <constructor-arg name="age" value="32"></constructor-arg>-->

    </bean>
    <bean id="lap1" class="com.punith.Desktop" primary="true" ></bean>
    <bean id="lap2" class="com.punith.Laptop" lazy-init="true"></bean>
</beans>
